---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/terminals_web.jpg
  cta_label: "Challenge Us"
  cta_url: "/_pages/contact/"
  caption: "powerful connections"
excerpt: 'Helping You Navigate Design, Machine Vision, Industrial Controls, Embedded Systems, Backups and Data Recovery.'
feature_row:
  - image_path: /assets/images/nar-design-feature.jpg
    alt: "design"
    title: "Design"
    excerpt: "Eveything from mechanical, graphic, electronics, software, and more can be handled by the experts at Narlson."
    url: "/about/"

  - image_path: /assets/images/nar-machine-vision-feature.jpg
    alt: "machine vision"
    title: "Machine Vision"
    excerpt: "Feature detection, Pattern Matching, 2D and 3D Metrology. We have your back for that Vision application."
    url: "/about/"

  - image_path: /assets/images/nar-industrial-controls-feature.jpg
    alt: "industrial controls"
    title: "Industrial Controls"
    excerpt: "Need a robust system design for a new or existing machine, no problem!"
    url: "/about/"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
